apiVersion: apps/v1
kind: Deployment
metadata:
  name: prod-iitd-server
spec:
  template:
    spec:
      containers:
      - name: server
        resources:
          requests:
            memory: "512Mi"
            cpu: "500m"
          limits:
            memory: "1Gi"
            cpu: "1000m"

