apiVersion: apps/v1
kind: Deployment
metadata:
  name: staging-iitd-server
spec:
  template:
    spec:
      containers:
      - name: server
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "250m"

