apiVersion: v1
kind: Service
metadata:
  name: iitd-server-service
  namespace: default
  labels:
    app: iitd-server
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: iitd-server

