apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: iitd-uploads-pvc
  labels:
    app: iitd-server
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: iitd-backups-pvc
  labels:
    app: iitd-server
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

