apiVersion: v1
kind: Service
metadata:
  name: iitd-server
  labels:
    app: iitd-server
    component: backend
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: iitd-server

